body{
    background-image: url(../asset/dark-background-image.jpg);
    background-position: center,center;
    background-size: 100% 100%;
}

.calculator-container{
    background-color: #22252e;
    box-shadow:  0px 0px 2px 3px rgb(83, 83, 83);
}

#toggle,.keys-container{
    background-color: #2a2c38;
}

#moon{
    color: white;
}

#sun{
    color: #777a80;
}

#workspace{
    color: white;
}

button{
    background-color: #282b34;
}