body{
    background-color: #efeff1;
    background-image: none;
}


.calculator-container{
    background-color: white;
    box-shadow:  0px 0px 2px 3px rgb(130, 129, 129);

}

#sun{
    color: #2a2c38;
}

#moon{
    color: #777a80;
}

#workspace{
    color: #2a2c38;
}

#toggle,.keys-container{
    background-color: #e8e8e8;
    
}

button{
    background-color: #e5e7e3 ;
    color: #2a2c38;
}

